<app-admin-nav></app-admin-nav>
<form>
  <div class="container-fluid" style="width: 400px; margin-top: 50px; margin-bottom: 100px" >
    <h2>Create an epic event </h2>
    <div class="form-group">
      <label for="">Event name</label>
      <input type="text" class="form-control" [(ngModel)]="eventname" [ngModelOptions]="{standalone: true}" placeholder="Create en epic name" >
    </div>
    <div class="form-group">
      <label for="">Description</label>
      <input type="text" class="form-control" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" placeholder="Give it an epic description">
    </div>
    <div class="form-group text-center mt-3">
      <mat-form-field appearance="fill" style="width: 370px !important;" >
        <mat-label style="color: #95CA3D !important;">Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [ngModelOptions]="{standalone: true}" [(ngModel)]="date">
        <mat-datepicker-toggle style="color: #95CA3D !important;" matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker style="color: #95CA3D !important;" #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-group">
      <label for="">Upload an image banner for the event</label>
      <input type="file" class="form-control" [(ngModel)]="image" (change)="onChange($event)" [ngModelOptions]="{standalone: true}" placeholder="Upload image">
    </div>
    <!-- <div *ngIf="isDoneLoading">
      <img class="imageView" src="{{url}}" alt="image here">
    </div>
    <div *ngIf="!isDoneLoading">

      <div class="loader"></div>

    </div> -->
    <div class="form-group text-center">
      <label for="">How many will be available?</label>
      <div class="row">
        <div class="col">
          <button class="btn btn-round" type="" (click)="onDecrement()" >-</button>
        </div>
        <div class="col" >
          <input class="form-control text-center"value={{numberOfSeats}} >
        </div>
        <div class="col">
          <button class="btn btn-round" type="" (click)="onIncrement()" >+</button>
        </div>
      </div>
    </div>
    <div class="text-center mt-5">
      <button class="btn btn-primary " style="text-align: center;" (click)="onSubmit()" >Submit</button>
    </div>

  </div>

</form>
