<div class="jumbotron text-center">
  <h1 class="display-4">Next Event starts in: </h1>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <p class="lead" style="font-size: 110px;">{{timeToDisplay}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="container col-md-12 col-sm-12">
          <div class="row">
            <div class="container col-md-12 text-center">
              <div class="row text-center" style="width: 480px; margin: auto;  color: #A0B561 ">
                <p class="col-md-4 col-sm-4 text-center" style="font-size: 20px;">Days</p>
                <p class="col-md-4 col-sm-4 text-center" style="font-size: 20px;">Hours</p>
                <p class="col-md-4 col-sm-4 text-center" style="font-size: 20px;">Min</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
