<app-navbar></app-navbar>
<form>
  <div class="container-fluid" style="width: 400px; margin-top: 50px; margin-bottom: 100px" >
    <div class="form-group">
      <label for="">Fullname</label>
      <input type="text" class="form-control" [(ngModel)]="fullname" [ngModelOptions]="{standalone: true}" placeholder="Please enter your fullname" >
    </div>
    <div class="form-group">
      <label for="">cellphone</label>
      <input type="text" class="form-control" [(ngModel)]="cellphone" [ngModelOptions]="{standalone: true}" placeholder="Please enter your cellphone numbers">
    </div>
    <div class="form-group">
      <label for="">Enter a time</label>
      <input type="time" class="form-control" [(ngModel)]="time" [ngModelOptions]="{standalone: true}" placeholder="Please enter a time">
    </div>

    <div class="text-center mt-5">
      <button class="btn btn-primary " style="text-align: center;" (click)="onSubmit()" >Submit</button>
    </div>

  </div>

</form>
