<app-navbar></app-navbar>
<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-10">
      <h3 class="featurette-heading">Our Purpose</h3>
      <span></span>
      <p class="lead">Our charming cafe, set in the beautiful town of Mount Pleasant,
        is the perfect place to meet friends
        and family for a relaxed breakfast, lunch or afternoon cup of coffe and plate of food.
        Amazing coffee doesn’t just simply happen. It takes a modern approach. It’s the endless pursuit of becoming
        something better in order to make a lasting impact to elevate those around us.</p>
    </div>
    <div class="col-md-2">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 700x700"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">700x700</text>
      </svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-10 order-md-2">
      <h3 class="featurette-heading">Our Goal</h3>
      <p class="lead">At the end of the day, Raak can be many things to many people. It can be a very good cup of
        coffee, or the catalyst for innovative communication. The magic of a coffee shop is that once that environment
        is
        created, it becomes not just what the staff makes it, but what the customers make it. A true community happens.
        Raak does this with three simple staples: great coffee, great food and great performances. We believe there is
        something for everyone at Raak. Quality for All.</p>
    </div>
    <div class="col-md-2">
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="250" height="250"
        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 700x700"
        preserveAspectRatio="xMidYMid slice" focusable="false">
        <title>Placeholder</title>
        <rect width="100%" height="100%" fill="#eee" /><text x="50%" y="50%" fill="#aaa" dy=".3em">700x700</text>
      </svg>

    </div>
  </div>
  <hr class="featurette-divider">
</div>
