<app-admin-nav></app-admin-nav>
<form>
  <div class="container-fluid" style="width: 400px; margin-top: 50px; margin-bottom: 100px">
    <h2>Post Menu Item</h2>
    <hr class="featurette-divider">
    <div class="form-group">
      <label for="">Item Category</label>
      <select class="form-select" id="exampleSelect1">
        <option>Breakfast</option>
        <option>Lunch</option>
        <option>Dinner</option>
      </select>
    </div>
    <div class="form-group">
      <label for="">Item Name</label>
      <input type="text" class="form-control" placeholder="Item name e.g Mac & Cheese">
    </div>
    <div class="form-group">
      <label for="">Item Description</label>
      <input type="text" class="form-control" placeholder="Provide Item description">
    </div>
    <div class="form-group">
      <label for="">Item Price</label>
      <input type="text" class="form-control" placeholder="Provide Item Price">
    </div>
    <div class="text-center mt-5">
      <button class="btn btn-primary " style="text-align: center;">Post</button>
    </div>

  </div>

</form>
