<app-admin-nav></app-admin-nav>
<form>
  <div class="container-fluid" style="width: 400px; margin-top: 50px; margin-bottom: 100px">
    <h2 class="text-center">Create Menu Item</h2>
    <hr class="featurette-divider">
    <div class="form-group">
      <label for="">Item Category</label>
      <select class="form-select" (change)="onTextChanged()" [(ngModel)]="ItemCatagory" [ngModelOptions]="{standalone: true}" id="exampleSelect1" >
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
      </select>
      <div *ngIf="isCatagoryError" class="text-danger" >Event catagory is required</div>
    </div>
    <div class="form-group">
      <label for="">Item Name</label>
      <input type="text" class="form-control" (change)="onTextChanged()"  [(ngModel)]="ItemName" [ngModelOptions]="{standalone: true}" placeholder="Item name e.g Mac & Cheese">
      <div *ngIf="isNameError" class="text-danger" >Item name is required</div>
    </div>
    <div class="form-group">
      <label for="">Item Description</label>
      <input type="text" class="form-control" (change)="onTextChanged()"  [(ngModel)]="ItemDescription" [ngModelOptions]="{standalone: true}" placeholder="Provide Item description">
      <div *ngIf="isDescError" class="text-danger" >Item description is required</div>
    </div>
    <div class="form-group">
      <label for="">Item Price</label>
      <input type="text" class="form-control" (change)="onTextChanged()"  [(ngModel)]="ItemPrice" [ngModelOptions]="{standalone: true}" placeholder="Provide Item Price">
      <div *ngIf="isPriceError" class="text-danger" >Item price is required</div>
    </div>
    <div class="form-group">
      <label for="">Upload an image for the item</label>
      <input type="file" class="form-control" [(ngModel)]="image" (change)="onChange($event)" [ngModelOptions]="{standalone: true}" placeholder="Upload image">
      <div *ngIf="isImageError" class="text-danger" >Item image is required</div>
    </div>
    <div class="text-center mt-5">
      <button class="btn btn-primary " (click)="onSubmit()" style="text-align: center;">Add</button>
    </div>

  </div>

</form>
