<div class="hero-section">

  <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
    <a class="navbar-brand lead" href="#">RAAK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="collapse navbar-collapse" id="navbarNav"></div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
            [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
            [routerLink]="['/about']">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
            [routerLink]="['/menu']">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
            [routerLink]="['/event']">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
            [routerLink]="['/reservations']">Reservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"
            [routerLink]="['/contact']">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <h2 class="featurette-heading"> Where <span class="hero-span">Good Food</span> Meets <span class="hero-span">Good
        People</span> </h2>
  </div>
</div>

<div class="container marketing">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Our Coffee</h2>
      <span></span>
      <p class="lead">Our charming cafe, set in the beautiful town of Mount Pleasant,
        is the perfect place to meet friends
        and family for a relaxed breakfast, lunch or afternoon cup of coffe and plate of food.
        Amazing coffee doesn’t just simply happen. It takes a modern approach. It’s the endless pursuit of becoming
        something better in order to make a lasting impact to elevate those around us.</p>
    </div>
    <div class="col-md-5 mt-3">
      <img class="feature-image" src="../../../assets/coffee.jpg" alt="">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Our Food</h2>
      <p class="lead">Our food roots are colourful, global and eclectic with a gourmet, playful edge.
        We get inspired by flavours and ingredients from all four corners of the world and put our signature
        ‘wild’ twist to them. Our aim is to provide
        a little vision on how food could be if we just imagined so!</p>
    </div>
    <div class="col-md-5">
      <img class="feature-image" src="../../../assets/food.jpg" alt="">
    </div>
  </div>
  <hr class="featurette-divider">
</div>
