.my-container{
  height: 70vh;
  border: 1px solid #95CA3D;
  border-radius: 10px;
  margin:60px;
  width: 400px
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  font-weight: bold;
  color: #95CA3D;
  letter-spacing: -.05rem;
}

.featurette-divider {
  margin: 2rem 0;
  color: #95CA3D;
  /* Space out the Bootstrap <hr> more */
}
