<app-admin-nav></app-admin-nav>
<div class="container">

  <hr class="featurette-divider">
  <h1 class="featurette-heading text-center">Welcome back admin</h1>

  <hr class="featurette-divider">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">

      <div class="card ">
        <h2 class="featurette-heading text-center">Upcoming events</h2>
        <a class="btn btn-success" [routerLink]="['/admin-event']" style="margin-top: 5%">Add new</a>
        <ul class="list-group list-group-flush">
          <li *ngIf="!isEvents" class="list-group-item text-center">No upcoming eventss</li>
          <li *ngFor="let e of events; index as i" class="list-group-item text-center">{{i + 1}}.&nbsp;{{e.EventName}}
            &nbsp; - &nbsp; {{e.Date.toDateString()}}</li>
        </ul>
      </div>

      <div class="card">
        <h2 class="featurette-heading text-center">Performer requests</h2>
        <a class="btn btn-success" [routerLink]="['/admin-requests']" style="margin-top: 5%">View all</a>
        <ul class="list-group list-group-flush">
          <li *ngIf="!isPerfromers" class="list-group-item text-center">No perfromer requests</li>
          <li *ngFor="let p of performers; index as i" class="list-group-item text-center">{{i + 1}}.&nbsp;{{p.fName}}
            &nbsp; {{p.lName}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
