<app-navbar></app-navbar>
<app-countdown-clock></app-countdown-clock>
<form>
  <div class="container-fluid" style="width: 400px; margin-top: 50px; margin-bottom: 100px" >
    <div *ngIf="bookingComplete" class="alert alert-{{errorCode}}" role="alert">
      {{bookingConfirmation}}
    </div>
    <div class="form-group">
      <label for="">Firstname</label>
      <input type="text" class="form-control" (change)="onTextChanged()" [(ngModel)]="firstname" [ngModelOptions]="{standalone: true}" placeholder="Please enter your first name" >
      <div *ngIf="isFirstNameError" class="text-danger text-center" >Firstname is required</div>
    </div>
    <div class="form-group">
      <label for="">Surname</label>
      <input type="text" class="form-control" (change)="onTextChanged()" [(ngModel)]="lastname" [ngModelOptions]="{standalone: true}" placeholder="Please enter your last name">
      <div *ngIf="isLastNameError" class="text-danger text-center" >Lastname is required</div>
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input type="text" class="form-control" (change)="onTextChanged()" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Please enter your email address">
      <div *ngIf="isEmailError" class="text-danger text-center" >Email is required</div>
    </div>
    <div class="form-group">
      <label for="">cellphone</label>
      <input type="text" class="form-control" (change)="onTextChanged()" [(ngModel)]="cellphone" [ngModelOptions]="{standalone: true}" placeholder="Please enter your cellphone numbers">
      <div *ngIf="isCellphoneError" class="text-danger text-center" >{{cellPhoneErrorMessage}}</div>
    </div>
    <div class="form-group">
      <label for="">Are you a performer</label>
      <select name="isPerformer" class="form-control" [(ngModel)]="isPerformer" >
        <option value="{{true}}"  > Yes </option>
        <option value="{{false}}" > No </option>
      </select>
      <div *ngIf="isPerformerError" class="text-danger text-center" >Item name is required</div>
    </div>
    <div class="form-group">
      <label for="">Select an event</label>
      <select name="eventname" class="form-control" (change)="checkSeatsRemaing($event)" [(ngModel)]="eventname" >
        <option *ngFor="let e of events; index as i"[ngValue]="events[i].EventName" > {{events[i].EventName}} </option>
      </select>
      <div class="{{numberOfSeatsClass}} text-center" >{{numberOfSeatsMessage}}</div>
      <div *ngIf="isEventError" class="text-danger text-center" > Please select an event </div>
    </div>
    <div class="form-group text-center">
      <label for="">How many seats would you like?</label>
      <div class="row">
        <div class="col">
          <button class="btn btn-round" type="" (click)="onDecrement()" >-</button>
        </div>
        <div class="col" >
          <input class="form-control text-center"value={{numberOfSeats}} >
        </div>
        <div class="col">
          <button class="btn btn-round" type="" (click)="onIncrement()" >+</button>
        </div>
        <div *ngIf="isSeatsError" class="text-danger text-center" >{{numberOFSeatsMessage}}</div>
      </div>
    </div>
    <div class="text-center mt-5">
      <button class="btn btn-primary " style="text-align: center;" (click)="onSubmit()" >Submit</button>
    </div>

  </div>

</form>
