<app-admin-nav></app-admin-nav>
<div class="container">
  <h2 class="display-4 text-center mb-5">Performer requests</h2>

  <table class="table table-bordered table-hover">
    <thead class="thead-dark">
      <th scope="col">Firstname</th>
      <th scope="col">Lastname</th>
      <th scope="col">Email</th>
      <th scope="col">Event</th>
      <th scope="col">Accept/Reject performer</th>
    </thead>
    <tbody>
      <tr *ngFor="let e of PerfomerRequests; index as i">
        <th scope="row">{{e.firstname}}</th>
        <th scope="row">{{e.lastname}}</th>
        <th scope="row">{{e.email}}</th>
        <th scope="row">{{e.eventname}}</th>
        <th scope="row" class="text-center"><button class="btn btn-success mr-3" type=""
            (click)="OnAccept(e)">Accept</button><button class="btn btn-danger ml-2" type=""
            (click)="OnDelete(e)">Reject</button></th>
      </tr>
    </tbody>
  </table>
</div>
